[Desktop Entry]
Name=BadWire
Comment=BadWire is a simple GUI for simulating network problems with tc-netem
Exec=badwire
Icon=badwire
Terminal=false
Type=Application
Categories=Network;System;
